.post-title {
    background-color: blue;
    color: white;
    padding: 10px;
  }
  
  .author {
    font-style: italic;
  
  }
  
  .publication-date {
   
  }
  
  .content {
  
  }